.welcome-container {
  min-height: calc(100vh - 68px);
  padding: 30px 20px 70px;
  background-color: var(--page-bgc);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-conteiner {
  max-width: 400px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 22px;
}
