a {
  width: 100%;
}

.main-button {
  box-shadow: 0px 3px 3px #141414c6;
  padding: 10px 24px;
  border-radius: 40px;
  border: 2px solid #2c2c2c;
  background-color: var(--button1-bgc);
  color: var(--font-colorWht);
  cursor: pointer;
}
.main-button:active {
  background-color: var(--button-active);
}

@media (min-width: 500px) {
  .button {
    width: 355px;
  }
}
