:root {
  --page-bgc: #18435a;
  --header-bgc: #13293d;
  --card-bgc: #061827;
  --button1-bgc: #2c2c2c;
  --button2-bgc: #2a628f;
  --button3-bgc: #592979;
  --button-active: rgb(42, 74, 75);
  --font-colorWht: white;
  --font-hover: cornflowerblue;
  --font-link-color: #c07feb;
  --font-error-text: #fb2424;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
  color: var(--font-colorWht);
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--font-colorWht);
  border-radius: 30px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7c7ba;
  border-radius: 30px;
}

html::-webkit-scrollbar-track {
  background-color: #2c2c2c;
}
